@font-face {
  font-family: "googleSansRegular";
  font-display: swap;
  src: url("../fonts/googleSansRegular/GoogleSans-Regular.eot");
  src: local("☺"),
    url("../fonts/googleSansRegular/GoogleSans-Regular.woff") format("woff"),
    url("../fonts/googleSansRegular/GoogleSans-Regular.ttf") format("truetype"),
    url("../fonts/googleSansRegular/GoogleSans-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

[font10] {
  font-family: "googleSansRegular";
  font-weight: 400;
  color: $fontColor10;
}
[font11] {
  font-family: "googleSansRegular";
  font-weight: 400;
  color: $fontColor11;
}
[font12] {
  font-family: "googleSansRegular";
  font-weight: 400;
  color: $fontColor12;
}
[font13] {
  font-family: "googleSansRegular";
  font-weight: 400;
  color: $fontColor13;
}

@font-face {
  font-family: "googleSansBold";
  font-display: swap;
  src: url("../fonts/googleSansBold/GoogleSans-Bold.eot");
  src: local("☺"),
    url("../fonts/googleSansBold/GoogleSans-Bold.woff") format("woff"),
    url("../fonts/googleSansBold/GoogleSans-Bold.ttf") format("truetype"),
    url("../fonts/googleSansBold/GoogleSans-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

[font20] {
  font-family: "googleSansBold";
  font-weight: 700;
  color: $fontColor20;
}
[font21] {
  font-family: "googleSansBold";
  font-weight: 700;
  color: $fontColor21;
}
[font22] {
  font-family: "googleSansBold";
  font-weight: 700;
  color: $fontColor22;
}
[font23] {
  font-family: "googleSansBold";
  font-weight: 700;
  color: $fontColor23;
}
[font24] {
  font-family: "googleSansBold";
  font-weight: 700;
  color: $fontColor24;
}
[font25] {
  font-family: "googleSansBold";
  font-weight: 700;
  color: $fontColor25;
}

@font-face {
  font-family: "sfProTextMedium";
  src: url("../fonts/sfProTextMedium/SFProText-Medium.eot");
  src: local("SFProText Medium"), local("SFProText-Medium"),
    url("../fonts/sfProTextMedium/SFProText-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/sfProTextMedium/SFProText-Medium.woff2") format("woff2"),
    url("../fonts/sfProTextMedium/SFProText-Medium.woff") format("woff"),
    url("../fonts/sfProTextMedium/SFProText-Medium.ttf") format("truetype"),
    url("../fonts/sfProTextMedium/SFProText-Medium.svg#SFProText-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

[font3] {
  font-family: "sfProTextMedium";
  font-weight: 500;
  color: $fontColor3;
}

@font-face {
  font-family: "sfProTextSemibold";
  src: url("../fonts/sfProTextSemibold/SFProText-Semibold.eot");
  src: local("SFProText Semibold"), local("SFProText-Semibold"),
    url("../fonts/sfProTextSemibold/SFProText-Semibold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/sfProTextSemibold/SFProText-Semibold.woff2") format("woff2"),
    url("../fonts/sfProTextSemibold/SFProText-Semibold.woff") format("woff"),
    url("../fonts/sfProTextSemibold/SFProText-Semibold.ttf") format("truetype"),
    url("../fonts/sfProTextSemibold/SFProText-Semibold.svg#SFProText-Semibold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

[font4] {
  font-family: "sfProTextSemibold";
  font-weight: 600;
  color: $fontColor4;
}

[fontColor1] {
  color: #000000;
}
[fontColor2] {
  color: #ED9B59;
}

[fontOpacity1] {
  opacity: 50%;
}
[fontOpacity2] {
  opacity: 70%;
}

[fontSize1] {
  font-size: 58px;
}