@media (max-width: 1000px) {
  main {
    .contacts {
      .hero {
        bottom: 150px;
      }
      .thumbup {
        top: 50px;
        left: 280px;
      }
      .heart {
        top: 45px;
        left: 380px;
      }
      .calendar {
        top: 200px;
        left: 410px;
      }
    }
  }
}
