@media (max-width: 1201px) {
  .container {
    padding: 0 10px;
  }
  .header {
    margin-top: 10px;
    .menu {
      margin-left: 10px;
      .nav {
        width: 400px;
      }
    }
  }
  main {
    .intro {
      padding-right: 10px;
      .info {
        height: 500px;
        .get {
          &__who {
            font-size: 42px;
          }
          &__you {
            font-size: 16px;
          }
        }
      }
      .stat {
        .stat-dates {
          &__head {
            font-size: 46px;
          }
          &__text {
            font-size: 14px;
          }
        }
        .stat-new {
          margin-left: 5px;
          &__head {
            font-size: 46px;
          }
          &__text {
            font-size: 14px;
          }
        }
        .stat-members {
          margin-left: 10px;
          margin-right: 5px;
          &__head {
            font-size: 46px;
          }
          &__text {
            font-size: 14px;
          }
        }
      }
    }
    .contacts {
      .hero {
        bottom: 10px;
      }
      .thumbup {
        top: 50px;
        left: 370px;
      }
      .heart {
        top: 45px;
        left: 500px;
      }
      .calendar {
        top: 250px;
        left: 510px;
      }
    }
  }
}
