/* Font colors */
/* googleSansRegular */
$fontColor10: #1a1d32;
$fontColor11: #f59b5a;
$fontColor12: #ffffff;
$fontColor13: #333333;
/* googleSansBold */
$fontColor20: #ed9b59;
$fontColor21: #1a1d32;
$fontColor22: #f4ebe6;
$fontColor23: #b25e21;
$fontColor24: #7d8790;
$fontColor25: #333333;
/* sfProTextMedium */
$fontColor3: #000000;
/* sfProTextSemibol */
$fontColor4: #000000;
/* Burger */
$mobHeight: calc(100% - 72px);
$burgerSize: 40px;
$barHeight: 16%;
$color1: rgba(220, 220, 220, 0.9);
$color3: rgba(0, 0, 0, 1);
