@media (max-width: 1100px) {
  main {
    .contacts {
      .chin {
        top: 200px;
        left: 40px;
      }
      .ringstone {
        left: 40px;
      }
      .hero {
        bottom: 100px;
      }
      .thumbup {
        top: 50px;
        left: 370px;
      }
      .heart {
        top: 45px;
        left: 450px;
      }
      .calendar {
        top: 230px;
        left: 460px;
      }
    }
  }
}
