@media (max-width: 1512px) {
  main {
    .contacts {
      .clients {
        .file {
          width: 300px;
          .file-box {
            .file-text {
              margin-left: 0;
            }
          }
        }
        [client02] {
          margin-left: 0px;
        }
      }
      .card {
        top: auto;
        left: auto;
        bottom: 10px;
        right: 0px;
      }
    }
  }
}
